:root {
  --primary: #FFE902;
  --secondary: #FFE1C4;
  --title: #FF8816;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background: var(--primary) ;
  padding: 5px;
}

nav a {
  text-decoration: none;
}

 h3 {
  margin-top: 6px;
  color: var(--title);
  font-weight: bold;
}

ul h3 {
  padding: 5px;
  margin-left: 5px;
}

ul a {
  text-decoration: none;
  color: grey;
}

.contact {
  display: flex;
}

/* CARDS */

.card {
  margin-bottom: 20px;
  margin: 0 auto;
}


@media screen and (min-width: 480px) {
  .cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .card {
    width: 25%;
  }

}




